/*
Style sheet to outline divs in vacation package skeleton.
Made by Kyle Hinton
*/

div{
border-style: solid;
border: 3;
}

.compass{
	width: 30%;
	height: 100;
	border: 3px solid #571835;
    padding: 10px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
}



#NE  {
    position: absolute;
	top: 11px;
    right: 11px;
	background-color: #474340;
	color:#7bc2ad;
}


#NW {
    float: left;
	background-color: #7bc2ad
}


#north{
	margin: auto;
    float: top;
	background-color: #fbe2a6;
	color:#474340;
}

#west{	
	float: left;
	background-color: #924b62;
	color:#b2ec7e;
}

#center {
    margin: auto;
	background-color: #7bc2ad;
	color:#924b62;
}

#east{
    position: absolute;
	top: 137px;
    right: 11px;	
	float: right;
	background-color: #924b62;
	color:#b2ec7e;
}

#SW{
	float: left;
	background-color: #474340;
	color:#fbe2a6;
}

#South {
    margin: auto;
	background-color: #474340;
	color:#b2ec7e;
}

#SE{
	position: absolute;
	top: 263px;
    right: 11px;
	float: right;
	background-color: #b2ec7e;
	color:#474340;
}

/*---------------------Media-------------------------*/

				@media(max-width:700px){
					body{
						font-size: 12px;
						color: white;
						;
					}
					div{
						height: 50;
						color: white;
					}
				}

