/* Styling for Packages Page By: Marc Javier */

/* dynamic tab styling */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.formatdiv {
    background-color: green;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

/* banner styling */
.container {
    margin: 0;
    padding: 0;
}

#banner,
#banner-missed {
    color: black;
    margin-bottom: 10px;
    padding: 5px 20px 5px 20px;
}

#banner-missed:hover {
    background-color: lightgrey;
    box-shadow: 2px 2px 1px 1px #bbbbbb;
}

#banner:hover {
    background-color: #f5f5f5;
    box-shadow: 2px 2px 1px 1px #bbbbbb;
}

.package-logo {
    float: left;
    padding: 0;
    margin-right: 1em;
}

.package-price {
    float: right;
    font-size: 18px;
}

.package-price-missed {
    float: right;
    font-size: 18px;
    text-decoration: line-through;
}

.package-price-sale {
    float: right;
    font-size: 18px;
    color: red;
    font-weight: bold;
}

.package-title {
    font-size: 20px;
}

.package-start-missed,
.package-end-missed {
    color: red;
    font-weight: bold;
} 

.package-book {
    float: right;
}

.package-desc {
    font-style: italic;
}